* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

#color-container1 {
  width: 50%;
  height: auto;
}

#color-container2 {
  width: 50%;
  height: auto;
  border: 1px solid red;
}

#color-container3 {
  width: 50%;
  height: auto;
}
